@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* текстовые элементы */
  --text-basic: #000000;
  --text-basic-semitransparent: rgba(0, 0, 0, 0.6);
  --text-second: #333333;
  --text-error: #FF5757;

  --text-hover: #756157;
  --text-active: rgba(117, 97, 87, 0.3);

  --text-background-default: #FFFFFF;
  --text-background-hover: rgba(255, 255, 255, 0.6);
  --text-background-active: rgba(255, 255, 255, 0.3);

  --text-link-underline: #756257;

  /* кнопки */
  --button-text: #FFFFFF;
  --button-text-active: rgba(255, 255, 255, 0.3);

  --button-basic: #756157;
  --button-basic-hover: #615048;
  --button-basic-focus: #615048;
  --button-basic-active: #756157;

  --button-second: #82B3D3;
  --button-second-hover: #68A2CA;
  --button-second-focus: #68A2CA;
  --button-second-active: #82B3D3;

  --button-selected: #7DB54F;
  --button-selected-hover: #6C9E42;
  --button-selected-focus: #6C9E42;
  --button-selected-active: #7DB54F;

  --button-transparent-border-color: #83B3D3;
  --button-transparent-hover: rgba(255, 255, 255, 0.6);
  --button-transparent-active: rgba(255, 255, 255, 0.3);
  --button-transparent-disabled: rgba(255, 255, 255, 0.1);

  --button-disabled: #E5E5E5;

  /* фоны */
  --background-body: #F2F2F2;
  --background-hero: #354751;
  --background-basic: #FFFFFF;
  --background-main: #82B3D3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);

  --icon-basic: #000000;
  --icon-second: #83B3D3;
  --icon-text: #7DB54F;

  --form-input: #3F5E72;
  --form-element-1: #E5E5E5;
  --form-element-2: #F2F2F2;
  --form-element-2-hover: #E6E6E6;

  --card-border: #E6E6E6;
}

/* Глобальные селекторы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: var(--text-basic);
  background-color: var(--background-body);
}

/* Общие стили для элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-basic);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-basic-hover);
}

.button:focus {
  background-color: var(--button-basic-focus);
}

.button:active {
  color: var(--button-text-active);
  background-color: var(--button-basic-active);
}

.button-larger {
  font-size: 20px;
  line-height: 1.8em;
}

.button-maroon {
  color: var(--button-text);
  background-color: var(--button-basic);
}

.button-maroon:hover {
  background-color: var(--button-basic-hover);
}

.button-maroon:focus {
  background-color: var(--button-basic-focus);
}

.button-maroon:active {
  background-color: var(--button-basic-active);
  color: var(--button-text-active);
}

.button-blue {
  color: var(--text-background-default);
  background-color: var(--button-second);
}

.button-blue:hover {
  background-color: var(--button-second-hover);
}

.button-blue:focus {
  background-color: var(--button-second-focus);
}

.button-blue:active {
  background-color: var(--button-second-active);
  color: var(--button-text-active);
}

.button-green {
  color: var(--text-background-default);
  background-color: var(--button-selected);
}

.button-green:hover {
  background-color: var(--button-selected-hover);
}

.button-green:focus {
  background-color: var(--button-selected-focus);
}

.button-green:active {
  background-color: var(--button-selected-active);
  color: var(--button-text-active);
}

.button-transparent {
  color: var(--button-text);
  background-color: transparent;
}

.button-transparent:hover {
  color: var(--button-transparent-hover);
  background-color: transparent;
}

.button-transparent:focus {
  border: 3px solid var(--button-transparent-border-color);
  background-color: transparent;
}

.button-transparent:active {
  color: var(--button-transparent-active);
  background-color: transparent;
}

.input {
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33em;
  color: var(--text-basic);
  background-color: var(--form-element-2);
}

.input:hover,
.input:focus {
  background-color: var(--form-element-2-hover);
}

.input:placeholder-shown {
  font-family: inherit;
  font-weight: 400;
  color: var(--text-basic-semitransparent);
}

/* Стили страниц */
.page-container {
  width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--background-basic);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  display: flex;
}

/* Стили для шапки */
.logo {
  margin-bottom: -6px;
}

.logo-image {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navigation-item {
  padding: 0 16px;
  align-self: center;
}

.navigation-link {
  padding: 20px 0;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current {
  border-bottom-color: var(--text-link-underline);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.navigation-link-search::before {
  display: block;
  width: 20px;
  height: 20px;
  content: url("../icons/search.svg");
}

.navigation-link-liked {
  position: relative;
}

.navigation-link-liked::before {
  display: block;
  width: 20px;
  height: 20px;
  content: url("../icons/heart.svg");
}

.navigation-link-liked-count {
  position: absolute;
  right: -50%;
  top: 10px;
  padding: 5px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1em;
  text-align: center;
  color: var(--text-background-default);
  background-color: var(--button-selected);
}

.navigation-user-list {
  min-width: 88px;
}

.navigation-user-item {
  padding: 0 12px;
}

.header-link {
  align-self: center;
  margin-left: 20px;
}

/* Основной контент */
.page-main {
  width: 100%;
  flex-grow: 1;
}

/* Стили для hero */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-hero);
  background-image: url("../images/hero-background-divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  background-size: 100% auto, cover;
}

.hero::after {
  /* content: url("../images/hero-background-divider.svg"); */
  /* display: block; */
}

.hero-slogan {
  margin: 51px auto 82px auto;
}

/* Общие стили секций */
.section-title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.section-desc {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18em;
  text-align: center;
  color: var(--text-second);
}

.list-square {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-square-item {
  padding: 112.5px 85px;
  width: 400px;
}

.list-square-item-title {
  width: 175px;
  margin: 0 auto 30px auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.list-square-item-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  color: var(--text-second);
}

.section-text-color-light {
  color: var(--text-background-default);
}

/*  Cтили для features */
.features-header {
  padding: 69px;
}

.features-title {
  width: 620px;
}

.features-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.features-item:nth-child(even) {
  background-color: var(--background-second-2);
}

.features-item.features-item-blue {
  width: 100%;
  color: var(--text-background-default);
  background-color: var(--background-main);
}

.features-item-title {
  padding-bottom: 30px;
}

.features-item-title::after {
  /* TODO линия */
  color: inherit;
}

/*  Cтили для advantages */
.advantages-header {
  padding: 64px;
  text-align: center;
}

.advantages-title {
  width: 505px;
}

.advantages-item {
  padding-top: 81px;
  padding-bottom: 81px;
}

.advantages-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.advantages-item:nth-child(even) {
  background-color: var(--background-basic);
}

.list-item-icon::before {
  display: block;
  margin-bottom: 30px;
}

.list-item-icon-house::before {
  content: url("../icons/feature-housing.svg");
}

.list-item-icon-eating::before {
  content: url("../icons/feature-eating.svg");
}

.list-item-icon-souvenir::before {
  content: url("../icons/feature-souvenir.svg");
}

/* Стили для секции search */
.search {
  padding: 96px;
  text-align: center;
}

.search-header {
  margin-bottom: 54px;
}

/* Стили для секции subcribe */
.subscribe {
  padding: 96px;
  text-align: center;
  color: var(--text-basic);
}

.subscribe-background-image {
  color: var(--text-background-default);
  background-color: var(--background-main);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-header {
  margin-bottom: 54px;
}

.subscribe-desc {
  margin-left: auto;
  margin-right: auto;
  width: 475px;
  color: var(--text-second);
}

.subscribe-background-image .subscribe-desc {
  color: inherit;
}

.subscribe-form {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.subscribe-form-submit {
  border-radius: 0 4px 4px 0;
}

.subscribe-form-email {
  width: 452px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
}

/* Стили для подвала */
.page-footer {
  padding: 45px 70px 35px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 47.33px;
  height: 40px;
}

.footer-social-link-vk::before {
  content: url("../icons/social-vk.svg");
}

.footer-social-link-tg::before {
  content: url("../icons/social-tg.svg");
}

.footer-social-link-yt::before {
  content: url("../icons/social-yt.svg");
}

.footer-phone {}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: var(--text-hover);
}

.footer-phone-link:active {
  color: var(--text-active);
}

/* Стили для каталога */
.inner-header {
  padding: 70px;
  padding-top: 35px;
  background-color: var(--background-main);
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3em;
  color: var(--text-background-default);
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31em;
  color: var(--text-background-default);
  list-style: none;
}

.breadcrumbs-item ~ .breadcrumbs-item::before {
  content: url("../icons/arrow.svg");
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: var(--text-background-hover);
}

.breadcrumbs-link:active {
  color: var(--text-background-active);
}

.breadcrumbs-link-current,
.breadcrumbs-link-current:hover,
.breadcrumbs-link-current:active {
  color: currentColor;
  cursor: default;
}

.breadcrumbs-link-index {
  content: url("../icons/home.svg");
}

/* Стили для формы фильтрации отелей в каталоге */
.catalog-filters {
  color: var(--text-background-default);
}

.catalog-filters-form-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
}

.catalog-filters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filters-form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filters-form-group-title {
  margin-bottom: 32px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28em;
}

.control-label:hover,
.control-label:active {
  opacity: 0.6;
}

.catalog-filters-form-price-start {
  border-radius: 4px 0 0 4px;
}

.catalog-filters-form-price-end {
  border-radius: 0 4px 4px 0;
}

/* Отели */
.hotels {
  padding: 56.5px 70px 60px 70px;
}

.hotels-sorting {
  padding: 14px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
}

.hotels-header {
  display: flex;
  flex-wrap: wrap;
}

.hotels-title {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: inherit;
}

.viewing-type-list {
  display: flex;
}

.hotels-list {
  margin: 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.hotels-card {
  padding: 20px;
  width: 340px;
  display: grid;
  border: 1px solid var(--card-border);
  border-radius: 4px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  color: var(--text-basic);
}

.hotel-type,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
}

.stars {
  background-image: url("../icons/star.svg");
  background-repeat: space;
  height: 20px;
}

.stars-one {
  width: 21px;
}

.stars-two {
  width: calc(2 * 21px);
}

.stars-three {
  width: calc(3 * 21px);
}

.stars-four {
  width: calc(4 * 21px);
}

.stars-five {
  width: calc(5 * 21px);
}

.hotel-rating {
  padding: 8px 50px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-second);
  background-color: var(--form-element-2);
}

.hotels-footer {
  padding-top: 40px;
  border-top: 1px solid var(--card-border);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-item {
  flex-basis: 60px;
}

.pagination-link {
  padding: 12px;
  display: block;
}

.pagination-link-dots {
  color: var(--text-basic);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:active,
.pagination-link-current:focus {
  color: var(--text-basic);
  background-color: var(--form-element-2);
  cursor: default;
}
