@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-basic: #000000;
  --text-basic-semitransparent: #00000099;
  --text-second: #333333;
  --text-background-default: #FFFFFF;
  --text-error: #FF5757;
  --text-hover: #756157;
  --text-active: #7561574D;

  /* кнопки */
  --button-text: #FFFFFF;
  --button-text-active: #FFFFFF4D;

  --button-basic: #756157;
  --button-basic-hover: #615048;
  --button-basic-focus: #615048;
  --button-basic-active: #756157;

  --button-second: #82B3D3;
  --button-second-hover: #68A2CA;
  --button-second-focus: #68A2CA;
  --button-second-active: #82B3D3;

  --button-selected: #7DB54F;
  --button-selected-hover: #6C9E42;
  --button-selected-focus: #6C9E42;
  --button-selected-active: #7DB54F;

  --button-transparent-border-color: #83B3D3;
  --button-transparent-hover: #FFFFFF99;
  --button-transparent-active: #FFFFFF4D;
  --button-transparent-disabled: #FFFFFF1A;

  --button-disabled: #E5E5E5;

  /* фоны */
  --background-basic: #FFFFFF;
  --background-main: #82B3D3;
  --background-second-1: #83B3D31F;
  --background-second-2: #83B3D333;

  --icon-basic: #000000;
  --icon-second: #83B3D3;
  --icon-text: #7DB54F;

  --form-input: #3F5E72;
  --form-element-1: #E5E5E5;
  --form-element-2: #F2F2F2;
  --form-element-2-hover: #E6E6E6;
}

/* Нормализация */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: var(--text-basic);
  background-color: #F2F2F2;
}

/* Общие стили для элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-basic);
  border-radius: 4px;
}

.button:hover {
  background-color: var(--button-basic-hover);
}

.button:focus {
  background-color: var(--button-basic-focus);
}

.button:active {
  color: var(--button-text-active);
  background-color: var(--button-basic-active);
}

.button-larger {
  font-size: 20px;
  line-height: 1.8em;
}

.button-maroon {
  color: var(--button-text);
  background-color: var(--button-basic);
}

.button-maroon:hover {
  background-color: var(--button-basic-hover);
}

.button-maroon:focus {
  background-color: var(--button-basic-focus);
}

.button-maroon:active {
  background-color: var(--button-basic-active);
  color: var(--button-text-active);
}

.button-blue {
  color: var(--text-background-default);
  background-color: var(--button-second);
}

.button-blue:hover {
  background-color: var(--button-second-hover);
}

.button-blue:focus {
  background-color: var(--button-second-focus);
}

.button-blue:active {
  background-color: var(--button-second-active);
  color: var(--button-text-active);
}

.button-green {
  color: var(--text-background-default);
  background-color: var(--button-selected);
}

.button-green:hover {
  background-color: var(--button-selected-hover);
}

.button-green:focus {
  background-color: var(--button-selected-focus);
}

.button-green:active {
  background-color: var(--button-selected-active);
  color: var(--button-text-active);
}

.button-transparent {
  color: var(--button-text);
  background-color: transparent;
}

.button-transparent:hover {
  color: var(--button-transparent-hover);
  background-color: transparent;
}

.button-transparent:focus {
  border: 3px solid var(--button-transparent-border-color);
  background-color: transparent;
}

.button-transparent:active {
  color: var(--button-transparent-active);
  background-color: transparent;
}

.page-container {
  width: 1200px;
  background-color: #FFFFFF;
}

/* Стили для шапки */
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.navigation-link-liked {
  font-weight: 400;
  font-size: 10px;
  line-height: 1em;
  text-align: center;
  color: var(--text-background-default);
  background-color: var(--button-selected);
  border-radius: 50%;
}

.page-main{
  width: 100%;

}
/* Стили для hero */
.hero {
  text-align: center;
  background-color: var(--background-second-2);
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Общие стили секций */
.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.section-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18em;
  text-align: center;
  color: var(--text-second);
}

.list-item-square-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.list-item-square-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  color: var(--text-second);
}

.section-text-color-light {
  color: var(--text-background-default);
}

/*  Cтили для features */
.features-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.features-item:nth-child(even) {
  background-color: var(--background-second-2);
}

.features-item.features-item-blue {
  color: var(--text-background-default);
  background-color: var(--background-main);
}

/*  Cтили для advantages */
.advantages-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.advantages-item:nth-child(even) {
  background-color: var(--background-basic);
}

.list-item-icon-house::before {
  content: url("../icons/feature-housing.svg");
}

.list-item-icon-eating::before {
  content: url("../icons/feature-eating.svg");
}

.list-item-icon-souvenir::before {
  content: url("../icons/feature-souvenir.svg");
}

/* Стили для search */
.search{
  text-align: center;
}
/* Стили для subcribe */
.subscribe {
  text-align: center;
  color: var(--text-basic);
}

.section-title,
.section-desc {
  color: inherit;
}

.subscribe-background-image {
  color: var(--text-background-default);
  background-color: var(--background-main);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-form-submit {
  border-radius: 0 4px 4px 0;
}

.subscribe-form-email {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
  color: var(--text-basic-semitransparent);
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: var(--text-hover);
}

.footer-phone-link:active {
  color: var(--text-active);
}

/* каталог */
.inner-header {
  background-color: var(--background-main);
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3em;
  color: var(--text-background-default);
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31em;
  color: var(--text-background-default);
}

.breadcrumbs-link {
  text-decoration: none;
}

/* форма фильтрации отелей в каталоге */
.catalog-filters {
  color: var(--text-background-default);
}

.catalog-filters-form-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28em;
}

.text-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33em;
  color: var(--text-basic);
  background-color: var(--form-element-2);
}
.text-input:hover,
.text-input:focus {
  background-color: var(--form-element-2-hover);
}

.catalog-filters-form-price-start {
  border-radius: 4px 0 0 4px;
}

.catalog-filters-form-price-end {
  border-radius: 0 4px 4px 0;
}

/* Отели */
.hotels-sorting {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
}

.hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: inherit;
}

.hotel-link {
  text-decoration: none;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  color: var(--text-basic);
}

.hotel-type,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
}

.stars-four {
  content: url("../icons/star.svg") url("../icons/star.svg");
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-second);
  background-color: var(--form-element-2);
}

.pagination-link {}

.pagination-link-dots {
  color: var(--text-basic);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:active,
.pagination-link-current:focus {
  color: var(--text-basic);
  background-color: var(--form-element-2);
}
