@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* текстовые элементы */
  --text-basic: #000000;
  --text-basic-semitransparent: rgba(0, 0, 0, 0.6);
  --text-second: #333333;
  --text-error: #ff5757;

  --text-hover: #756157;
  --text-focus: #756157;
  --text-active: rgba(117, 97, 87, 0.3);

  --text-background-default: #ffffff;
  --text-background-hover: rgba(255, 255, 255, 0.6);
  --text-background-active: rgba(255, 255, 255, 0.3);

  --text-link-underline: #756257;

  /* кнопки */
  --button-text: #ffffff;
  --button-text-active: rgba(255, 255, 255, 0.3);

  --button-basic: #756157;
  --button-basic-hover: #615048;
  --button-basic-focus: #615048;
  --button-basic-active: #756157;

  --button-second: #82b3d3;
  --button-second-hover: #68a2ca;
  --button-second-focus: #68a2ca;
  --button-second-active: #82b3d3;

  --button-selected: #7db54f;
  --button-selected-hover: #6c9e42;
  --button-selected-focus: #6c9e42;
  --button-selected-active: #7db54f;

  --button-transparent-border-color: #83b3d3;
  --button-transparent-hover: rgba(255, 255, 255, 0.6);
  --button-transparent-active: rgba(255, 255, 255, 0.3);
  --button-transparent-disabled: rgba(255, 255, 255, 0.1);

  --button-disabled: #e5e5e5;

  --range-color-main: rgba(255, 255, 255, 0.3);
  --range-color-active: #ffffff;

  /* фоны */
  --background-body: #f2f2f2;
  --background-hero: #354751;
  --background-basic: #ffffff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-main: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);

  --icon-basic: #000000;
  --icon-second: #83b3d3;
  --icon-text: #7db54f;
  --icon-second-hover: #68a2ca;
  --icon-second-focus: #68a2ca;
  --icon-second-active: rgba(104, 162, 202, 0.3);

  --form-input: #3f5e72;
  --form-element-1: #e5e5e5;
  --form-element-2: #f2f2f2;
  --form-element-2-hover: #e6e6e6;
  --form-element-2-focus-border: #83b3d3;
  --form-element-2-disabled: #b4b4b4;

  --card-border: #e6e6e6;

  --icon-border: #e5e5e5;
  --icon-border-hover: #000000;
  --icon-border-focus: #68a2ca;
  --icon-border-active: #000000;
  --icon-border-current: #000000;

  --icon-number-control: rgba(117, 97, 87, 0.3);
  --icon-number-hover: #000000;
  --icon-number-active: rgba(0, 0, 0, 0.2);

  --modal-overlay: rgba(242, 242, 242, 0.8);
  --modal-background: #ffffff;
  --modal-shadow: rgba(0, 0, 0, 0.15);
}

/* Глобальные селекторы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: var(--text-basic);
  background-color: var(--background-body);
}

/* Общие стили для элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: var(--button-text);
  background-color: var(--button-basic);
  cursor: pointer;
  -webkit-transition: background-color 0.4s, color 0.4s, outline 0.1s;
  transition: background-color 0.4s, color 0.4s, outline 0.1s;
}

.button:focus {
  background-color: var(--button-basic-focus);
}

.button:hover {
  background-color: var(--button-basic-hover);
}

.button:active {
  color: var(--button-text-active);
  background-color: var(--button-basic-active);
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--button-disabled);
  cursor: default;
  pointer-events: none;
}

.button-larger {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 1.8em;
}

.button-maroon {
  color: var(--button-text);
  background-color: var(--button-basic);
}

.button-maroon:hover {
  background-color: var(--button-basic-hover);
}

.button-maroon:active {
  background-color: var(--button-basic-active);
  color: var(--button-text-active);
}

.button-maroon:focus {
  background-color: var(--button-basic-focus);
}

.button-blue {
  color: var(--text-background-default);
  background-color: var(--button-second);
}

.button-blue:hover {
  background-color: var(--button-second-hover);
}

.button-blue:focus {
  background-color: var(--button-second-focus);
}

.button-blue:active {
  background-color: var(--button-second-active);
  color: var(--button-text-active);
}

.button-green {
  color: var(--text-background-default);
  background-color: var(--button-selected);
}

.button-green:hover {
  background-color: var(--button-selected-hover);
}

.button-green:focus {
  background-color: var(--button-selected-focus);
}

.button-green:active {
  background-color: var(--button-selected-active);
  color: var(--button-text-active);
}

.button-transparent {
  padding: 8px 16px;
  -webkit-box-shadow: inset 0 0 0 3px transparent;
  box-shadow: inset 0 0 0 3px transparent;
  color: var(--button-text);
  background-color: transparent;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}

.button-transparent:hover {
  color: var(--button-transparent-hover);
  background-color: transparent;
}

.button-transparent:focus {
  -webkit-box-shadow: inset 0 0 0 3px var(--button-transparent-border-color);
  box-shadow: inset 0 0 0 3px var(--button-transparent-border-color);
  background-color: transparent;
  outline: none;
}

.button-transparent:active {
  color: var(--button-transparent-active);
  background-color: transparent;
}

.button-transparent:disabled {
  background-color: transparent;
  color: var(--button-transparent-disabled);
}

.text-link {
  text-decoration: none;
  color: var(--text-basic);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.text-link:focus {
  color: var(--text-focus);
}

.text-link:hover {
  color: var(--text-hover);
}

.text-link:active {
  color: var(--text-active);
}

.input {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33em;
  color: var(--text-basic);
  background-color: var(--form-element-2);
  -webkit-transition: background-color 0.4s, outline 0.1s;
  transition: background-color 0.4s, outline 0.1s;
}

.input:focus {
  background-color: var(--form-element-2-hover);
  outline: 3px solid var(--form-element-2-focus-border);
}

.input:hover {
  background-color: var(--form-element-2-hover);
}

.input:-moz-placeholder-shown {
  font-weight: 400;
  color: var(--text-basic-semitransparent);
}

.input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--text-basic-semitransparent);
}

.input:placeholder-shown {
  font-weight: 400;
  color: var(--text-basic-semitransparent);
}

.input:disabled,
.input:disabled:hover {
  opacity: 0.3;
  pointer-events: none;
}

.icon-with-svg {
  position: relative;
}

.icon-with-svg svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: currentColor;
}

/* Стили страниц */
.page-container {
  width: 1200px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--background-basic);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 20px 1fr 20px 160px;
  grid-template-columns: 150px 1fr 160px;
  gap: 20px;
}

/* Стили для шапки */
.logo {
  position: relative;
  margin: 0 10px -6px 0;
}

.logo::after {
  display: block;
  height: 140px;
  width: 140px;
  position: absolute;
  bottom: 30px;
  content: "";
  -webkit-box-shadow: 0 0 10px var(--text-basic);
  box-shadow: 0 0 10px var(--text-basic);
  z-index: 0;
  opacity: 0;
  -webkit-transform: rotate(-45deg) skew(-3deg, -3deg);
  transform: rotate(-45deg) skew(-3deg, -3deg);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  border-bottom-left-radius: 20px;
}

.logo:hover::after,
.logo:focus::after {
  opacity: 1;
}

.logo-image {
  display: block;
  position: relative;
  z-index: 1;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.navigation-item {
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navigation-link {
  --padding: 16px;
  position: relative;
  padding: 20px var(--padding);
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--text-hover);
}

.navigation-link:active {
  color: var(--text-active);
}

.navigation-link-current:hover,
.navigation-link-current:focus,
.navigation-link-current:active {
  color: inherit;
}

.navigation-link-current::after {
  content: "";
  display: block;
  position: absolute;
  width: auto;
  height: 2px;
  bottom: -1px;
  left: var(--padding);
  right: var(--padding);
  background-color: var(--text-link-underline);
}

.navigation-icon-list {
  min-width: 88px;
  margin-left: auto;
}

.navigation-icon {
  --padding: 12px;
  height: calc(40px + 1em);
  min-width: calc(2* var(--padding) + 21px);
}

.navigation-icon-liked {
  position: relative;
}

.navigation-icon-liked-count {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 5px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1em;
  text-align: center;
  color: var(--text-background-default);
  background-color: var(--button-selected);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.navigation-icon-liked:hover .navigation-icon-liked-count,
.navigation-icon-liked:focus .navigation-icon-liked-count {
  opacity: 0.6;
}

.navigation-icon-liked:active .navigation-icon-liked-count {
  opacity: 0.3;
}

.header-link {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* Основной контент */
.page-main {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* Стили для hero */
.hero {
  padding: 51px;
  padding-bottom: 82px;
  min-height: 300px;
  text-align: center;
  background-color: var(--background-hero);
  background-image: url("../images/hero-background-divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  background-size: 100% auto, cover;
}

.hero-slogan {
  margin: 0 auto;
  display: block;
}

/* Общие стили секций */
.section-title {
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.section-desc {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18em;
  text-align: center;
  color: var(--text-second);
}

.section-desc:not(:last-child) {
  margin-bottom: 1em;
}

.list-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-square-item {
  min-height: 385px;
  padding: 70px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-square-item-title {
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.list-square-item-desc {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  color: var(--text-second);
}

.list-square-item-desc:not(:last-child) {
  margin-bottom: 1em;
}

/*  Cтили для features */
.features-header {
  padding: 69px;
  padding-bottom: 90px;
}

.features-title {
  margin-bottom: 25px;
}

.features-item:where(:nth-child(even)) {
  background-color: var(--background-second-1);
}

.features-item:where(:nth-child(odd)) {
  background-color: var(--background-second-2);
}

.features-item-with-image {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: var(--text-background-default);
  background-color: var(--background-main);
}

.features-item-with-image .list-square-item-desc {
  color: inherit;
}

.features-item-image {
  display: block;
  -ms-flex-preferred-size: 800px;
  flex-basis: 800px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.features-item-title::after {
  content: "";
  display: block;
  margin: 32px auto 0;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
}

/*  Cтили для advantages */
.advantages-header {
  padding: 64px;
  text-align: center;
}

.advantages-item:nth-child(odd) {
  background-color: var(--background-second-1);
}

.advantages-item:nth-child(even) {
  background-color: var(--background-basic);
}

.list-item-icon::before {
  display: block;
  margin: 0 auto 26px;
  width: 76px;
  height: 76px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}

.list-item-icon-house::before {
  background-image: url("../icons/feature-housing.svg");
}

.list-item-icon-eating::before {
  background-image: url("../icons/feature-eating.svg");
}

.list-item-icon-souvenir::before {
  background-image: url("../icons/feature-souvenir.svg");
}

/* Стили для секции search */
.search {
  padding: 96px;
  text-align: center;
}

.search-header {
  margin-bottom: 54px;
}

/* Стили для секции subcribe */
.subscribe {
  padding: 96px;
  text-align: center;
  color: var(--text-basic);
}

.subscribe-background-image {
  color: var(--text-background-default);
  background-color: var(--background-main);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-header {
  margin-bottom: 54px;
}

.subscribe-desc {
  margin-left: auto;
  margin-right: auto;
  width: 475px;
  color: var(--text-second);
}

.subscribe-background-image .subscribe-desc {
  color: inherit;
}

.subscribe-form {
  margin: 8px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe-form-submit {
  border-radius: 0 4px 4px 0;
}

.subscribe-form-email {
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
}

/* Стили для подвала */
.page-footer {
  padding: 45px 70px 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-icon {
  position: relative;
  width: 47px;
  height: 40px;
  color: var(--icon-second);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.footer-icon:focus-visible {
  color: var(--icon-second-focus);
}

.footer-icon:hover {
  color: var(--icon-second-hover);
}

.footer-icon:active {
  color: var(--icon-second-active);
}

.footer-social {
  min-width: 150px;
  max-width: 300px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-link {
  display: block;
}

.footer-phone {
  text-align: center;
}

.footer-phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.footer-phone-link {
  min-width: 360px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  color: inherit;
}

.footer-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.footer-partners-link {
  text-decoration: none;
}

.footer-partners-link svg {
  fill: currentColor;
}

/* Стили для каталога */
.inner-header {
  padding: 70px;
  padding-top: 35px;
  background-color: var(--background-hero);
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3em;
  color: var(--text-background-default);
}

/* Хлебные крошки */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 40px 0;
  color: var(--text-background-default);
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31em;
  list-style: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  margin: auto;
  min-width: 28px;
  min-height: 20px;
  background-image: url("../icons/breadcrumbs.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-current,
.breadcrumbs-link-current:hover,
.breadcrumbs-link-current:active {
  color: currentColor;
  opacity: 1;
  cursor: default;
}

.breadcrumbs-icon-home {
  min-width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-icon-home::before {
  content: "";
  background-image: url("../icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
  min-height: 21px;
  min-width: 30px;
  margin-left: -8px;
  margin-right: -8px;
}

/* Стили для формы фильтрации отелей в каталоге */
.catalog-filters {
  color: var(--text-background-default);
}

.control-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28em;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.control-label:hover {
  opacity: 0.6;
  cursor: pointer;
}

.control-label:active {
  opacity: 0.3;
}

.control-mark {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-top: 0.1em;
  background-color: var(--background-basic);
  -webkit-transition: outline 0.1s;
  transition: outline 0.1s;
}

.control-input[type="checkbox"] ~ .control-mark {
  border-radius: 4px;
}

.control-input[type="radio"] ~ .control-mark {
  border-radius: 50%;
}

.control-input:checked ~ .control-mark::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:checked ~ .control-mark::before {
  background-image: url("../icons/control-checkbox.svg");
}

.control-input[type="radio"]:checked ~ .control-mark::before {
  background-image: url("../icons/control-radio.svg");
}

.control-input:focus ~ .control-mark {
  outline: 3px solid var(--form-element-2-focus-border);
}

.control-label:has(.control-input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.catalog-filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-filters-form-group {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  border: none;
}

.catalog-filters-form-group-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
}

.catalog-filters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filters-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filters-form-group-price {
  margin-left: auto;
  margin-right: 30px;
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px;
}

.catalog-filters-form-group-price-inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.catalog-filters-price-wrapper {
  display: block;
  position: relative;
}

.catalog-filters-price-wrapper:focus-within {
  z-index: 1;
  position: relative;
}

.catalog-filters-price-label {
  position: absolute;
  right: 20px;
  top: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
  text-transform: lowercase;
  color: var(--text-basic);
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.catalog-filters-price-input {
  padding-right: 37px;
  width: 143px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.catalog-filters-price-input::-webkit-outer-spin-button,
.catalog-filters-price-input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.catalog-filters-price-start {
  border-radius: 4px 0 0 4px;
}

.catalog-filters-price-end {
  border-radius: 0 4px 4px 0;
}

.catalog-filters-form-range {
  width: 100%;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--range-color-main);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--range-color-active);
}

.range-toggle {
  position: absolute;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: var(--range-color-active);
  border: none;
  -webkit-transition: outline 0.1s, -webkit-box-shadow 0.4s;
  transition: outline 0.1s, -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s, outline 0.1s;
  transition: box-shadow 0.4s, outline 0.1s, -webkit-box-shadow 0.4s;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.range-toggle:focus {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid var(--form-element-2-focus-border);
}

.range-toggle:active {
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid var(--form-element-2-focus-border);
}

.range-toggle-min {
  top: -9px;
  left: -10px;
}

.range-toggle-max {
  top: -9px;
  right: -15px;
}

.catalog-filters-form-buttons {
  padding-top: 56px;
  -ms-flex-preferred-size: 190px;
  flex-basis: 190px;
}

.catalog-filters-form-button {
  width: 100%;
}

.catalog-filters-form-button:not(:last-child) {
  margin-bottom: 32px;
}

/* Отели */
.hotels {
  padding: 50px 70px 60px 70px;
}

.hotels-sorting-wrapper {
  position: relative;
}

.hotels-sorting {
  padding: 12px 50px 12px 18px;
  min-width: 292px;
  border: 2px solid var(--icon-border);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
  background-color: var(--background-basic);
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
  cursor: pointer;
}

.hotels-sorting:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.hotels-sorting:focus {
  border-color: var(--button-second-hover);
  outline: none;
}

.hotels-sorting:hover {
  border-color: var(--button-second-hover);
}

.hotels-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotels-title {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: inherit;
}

.viewing-type-list {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.viewing-type-item {
  display: block;
}

.viewing-type-item:not(:last-child) {
  margin-right: 8px;
}

.viewing-type-link {
  --border: var(--icon-border);
  padding: 17px 16px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 2px var(--border);
  box-shadow: inset 0 0 0 2px var(--border);
  border: none;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}

.viewing-type-link:focus {
  --border: var(--icon-border-focus);
  outline: none;
}

.viewing-type-link:hover {
  --border: var(--icon-border-hover);
}

.viewing-type-link:active {
  --border: var(--icon-border-active);
}

.viewing-type-link::before {
  display: block;
  content: "";
  min-height: 14px;
  min-width: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.viewing-type-current {
  --border: var(--icon-border-current);
}

.viewing-type-icon-tile::before {
  background-image: url("../icons/mode-tile.svg");
}

.viewing-type-icon-card::before {
  background-image: url("../icons/mode-card.svg");
}

.viewing-type-icon-list::before {
  background-image: url("../icons/mode-list.svg");
}

.hotels-list {
  margin: 40px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.hotels-card {
  padding: 20px;
  width: 340px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "more like"
    "stars rating"
  ;
  gap: 16px 20px;
  -webkit-box-shadow: 0 0 0 1px var(--card-border);
  box-shadow: 0 0 0 1px var(--card-border);
  border-radius: 4px;
  color: var(--text-basic);
}

.hotel-link {
  display: contents;
}

.hotel-title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  grid-area: title;
}

.hotel-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  aspect-ratio: 300 / 212;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  grid-area: image;
}

.hotel-type,
.hotel-price {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--text-second);
}

.hotel-type {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: type;
}

.hotel-price {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  text-align: right;
  grid-area: price;
}

.hotel-stars {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  margin: auto 0;
  grid-area: stars;
}

.stars {
  --width: 23px;
  height: 20px;
  background-image: url("../icons/star.svg");
  background-repeat: space;
}

.stars-one {
  width: var(--width, 22px);
}

.stars-two {
  width: calc(2 * var(--width, 22px));
}

.stars-three {
  width: calc(3 * var(--width, 22px));
}

.stars-four {
  width: calc(4 * var(--width, 22px));
}

.stars-five {
  width: calc(5 * var(--width, 22px));
}

.hotel-rating {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  margin: 0;
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-second);
  background-color: var(--form-element-2);
  grid-area: rating;
}

.hotel-more {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: more;
}

.hotel-like {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: like;
}

.hotels-footer {
  padding-top: 40px;
  border-top: 1px solid var(--card-border);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-link {
  padding: 12px;
  min-width: 60px;
  min-height: 60px;
  display: block;
  border: 1px solid var(--button-second);
}

.pagination-link:hover,
.pagination-link:active,
.pagination-link:focus {
  border: 1px solid var(--button-second);
}

.pagination-link-dots {
  font-size: 20px;
  line-height: 1.8em;
  text-align: center;
  color: var(--text-basic);
  border: none;
  pointer-events: none;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:active,
.pagination-link-current:focus {
  color: var(--text-basic);
  background-color: var(--form-element-2);
  border: none;
  cursor: default;
}

/* Модальное окно */
.modal {
  max-width: 717px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 44px 50px;
  border: none;
  border-radius: 30px;
  background-color: var(--modal-background);
  -webkit-box-shadow: 0 25px 50px 0 var(--modal-shadow);
  box-shadow: 0 25px 50px 0 var(--modal-shadow);
  overflow-y: auto;
}

.modal::-webkit-backdrop {
  background-color: var(--modal-overlay);
}

.modal::backdrop {
  background-color: var(--modal-overlay);
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  border: none;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  background-color: var(--form-element-2);
  background-image: url("../icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 0.4s, outline 0.1s, opacity 0.1s;
  transition: background-color 0.4s, outline 0.1s, opacity 0.1s;
}

.modal-button-close:focus {
  background-color: var(--form-element-2-hover);
  outline: 3px solid var(--form-element-2-focus-border);
}

.modal-button-close:hover {
  background-color: var(--form-element-2-hover);
  cursor: pointer;
}

.modal-button-close:active {
  background-color: var(--form-element-2-hover);
  opacity: 0.3;
}

.modal-content {
  margin: 20px;
}

.search-title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--text-basic);
}

.search-form {
  display: -ms-grid;
  display: grid;
  gap: 0 10px;
  -ms-grid-columns: 127px 10px 110px 10px 200px 10px 110px;
  grid-template-columns: 127px 110px 200px 110px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: capitalize;
  color: var(--text-basic);
}

.search-form-input-date-with-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/-1;
  border-radius: 4px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.search-form-input-date {
  padding-right: 60px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-image: url("../icons/date.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60px 20px;
}

.search-form-input-date-with-icon:hover .search-form-input-date {
  background-color: var(--form-element-2-hover);
}

.input-message {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 4px 20px;
  min-height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31em;
  color: var(--text-second);
}

.input-message-error {
  color: var(--text-error);
}

.search-input-date-message {
  grid-column: 2/-1;
}

.search-form-input-number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 4px;
  background-color: var(--form-element-2);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.search-form-input-number-wrapper:has(:hover) {
  background-color: var(--form-element-2-hover);
}

.input-number-control {
  display: block;
  min-width: 40px;
  padding: 14px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-number-control svg {
  display: block;
  border-radius: 4px;
  fill: var(--icon-number-control);
  -webkit-transition: outline 0.1s, fill 0.1s;
  transition: outline 0.1s, fill 0.1s;
}

.input-number-control:hover svg {
  fill: var(--icon-number-hover);
}

.input-number-control:focus {
  outline: none;
}

.input-number-control:focus svg {
  outline: 3px solid var(--button-second);
  fill: var(--icon-number-hover);
}

.input-number-control:active svg {
  fill: var(--icon-number-active);
}

.search-form-input-number {
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1em;
  text-align: center;
  background-color: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search-form-input-number::-webkit-inner-spin-button,
.search-form-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.search-form-label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 35px;
}

.search-form-info-wrapper {
  position: relative;
}

.search-form-info {
  display: block;
  padding: 0;
  background-color: var(--icon-second);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-form-info::before {
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../icons/info.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.search-form-submit {
  grid-column: 1/-1;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.2em;
  border-radius: 10px;
}

/* Всплывающая подсказка */
.tooltip {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 6px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
  -webkit-transition: opacity 0.2s, z-index 0.2s;
  transition: opacity 0.2s, z-index 0.2s;
}

.search-form-info-wrapper:hover .tooltip,
.search-form-info-wrapper:focus-within .tooltip {
  opacity: 1;
  z-index: 1;
}

.tooltip-text {
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  width: 256px;
  min-height: 143px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: var(--text-background-default);
  background: var(--text-second);
  -webkit-box-shadow: 0 15px 30px 0 var(--background-basic-2);
  box-shadow: 0 15px 30px 0 var(--background-basic-2);
}

.tooltip::before {
  display: block;
  width: 20px;
  height: 9px;
  margin: 0 auto;
  background-image: url("../icons/triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  content: "";
}
